.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &-contents {
    position: relative;
  }
  
  &-box {
    width: 600px;
    margin: 0 auto;
    padding: 122px 110px 302px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(110,110,110,0.2);
    background-color: #FFF;
  }

  &-title {
    margin-bottom: 20px;

    a {
      display: block;
      width: 320px;
      height: 80px;
      margin: 0 auto;
      text-indent: -999em;
      color: transaprent;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='320' height='80' viewBox='0 0 320 80'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23fff;opacity:0;%7D.b%7Bfill:%230068b7;%7D.c%7Bfill:url(%23a);%7D.d%7Bfill:url(%23b);%7D.e%7Bfill:url(%23c);%7D.f%7Bfill:url(%23d);%7D.g%7Bfill:url(%23e);%7D.h%7Bfill:url(%23f);%7D.i%7Bfill:url(%23g);%7D.j%7Bfill:%23727171;%7D%3C/style%3E%3ClinearGradient id='a' x1='1.16' y1='0.26' x2='-0.552' y2='0.83' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23fcb811'/%3E%3Cstop offset='1' stop-color='%23c3be2f'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='-0.249' y1='0.118' x2='0.952' y2='0.744' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23c3be2f'/%3E%3Cstop offset='1' stop-color='%2381c241'/%3E%3Cstop offset='1' stop-color='%239dc039'/%3E%3Cstop offset='1' stop-color='%2380c241'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='0.137' y1='0.182' x2='1.045' y2='0.835' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%236ccef5'/%3E%3Cstop offset='1' stop-color='%2300b9c5'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' x1='1.192' y1='0.236' x2='0.217' y2='0.729' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2300b9c5'/%3E%3Cstop offset='1' stop-color='%2300a89b'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' x1='0.053' y1='0.481' x2='0.957' y2='0.444' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%230071bb'/%3E%3Cstop offset='1' stop-color='%236ccef5'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' x1='0.039' y1='0.423' x2='1' y2='0.5' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23fcb811'/%3E%3Cstop offset='0.598' stop-color='%23f5831b'/%3E%3Cstop offset='1' stop-color='%23f16421'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' x1='0.04' y1='0.459' x2='0.921' y2='0.46' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2382c241'/%3E%3Cstop offset='1' stop-color='%2300a89b'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate(-904 -402.128)'%3E%3Crect class='a' width='320' height='80' transform='translate(904 402.128)'/%3E%3Cg transform='translate(-0.001 -0.039)'%3E%3Cg transform='translate(929 418.167)'%3E%3Cg transform='translate(54.28 12.024)'%3E%3Cpath class='b' d='M247.861,437.9c-7.32,0-11.365-4.811-11.365-11.928,0-7.155,4.38-12,11.5-12a14.255,14.255,0,0,1,7.052,1.7l-.769,4.978a11.416,11.416,0,0,0-6.151-1.967c-3.978,0-5.913,2.938-5.913,7.248,0,4.346,2,7.39,5.98,7.39a6.1,6.1,0,0,0,3.108-.737v-4.111h-4.011l-.67-4.245h9.662v11.23a15.159,15.159,0,0,1-8.423,2.439' transform='translate(-236.496 -413.966)'/%3E%3Cpath class='b' d='M280.8,437.829a18.915,18.915,0,0,1-8.056-1.737l.834-4.88a16.333,16.333,0,0,0,7.321,2.14c1.638,0,2.775-.7,2.775-2.073,0-1.3-.669-1.908-3.912-3.144-4.612-1.771-6.617-3.275-6.617-7.086,0-4.444,3.475-6.818,7.886-6.818a14.657,14.657,0,0,1,6.957,1.538l-.869,4.813a12.585,12.585,0,0,0-6.017-1.869c-1.739,0-2.575.732-2.575,1.8,0,1.17.635,1.739,3.509,2.842,5.021,1.836,7.023,3.576,7.023,7.251,0,5.014-3.676,7.219-8.257,7.219' transform='translate(-250.051 -414.066)'/%3E%3C/g%3E%3Cg transform='translate(0)'%3E%3Cpath class='c' d='M154.817,414.061l-1.717-1.894a23.921,23.921,0,0,0-3.3,12h1.183A14.474,14.474,0,0,1,154.817,414.061Z' transform='translate(-149.8 -401.269)'/%3E%3Cpath class='d' d='M154.511,439.829a11.184,11.184,0,0,1-3.529-8.469v-.019H149.8a29.586,29.586,0,0,0,2.287,11.811Z' transform='translate(-149.8 -408.438)'/%3E%3Cpath class='e' d='M216.18,426.454l-2.2,2.272c3.045.042,4.916,2.394,4.85,5.392h1.185A9.863,9.863,0,0,0,216.18,426.454Z' transform='translate(-173.798 -406.611)'/%3E%3Cpath class='f' d='M220.342,438.7h-1.185c-.058,2.468-1.376,4.541-4.3,6.079l3.088,4.253A21.364,21.364,0,0,0,220.342,438.7Z' transform='translate(-174.125 -411.189)'/%3E%3Cpath class='g' d='M159.707,423.873a7.694,7.694,0,0,0-.131,1.416c0,7.068,5.268,11.58,11.918,11.58,12.643,0,16.4-10.331,22.057-10.331.028,0,.058,0,.088,0l2.2-2.272c-2.732-2.248-6.784-3.656-11.7-3.656-10.009,0-15.34,8.36-19.885,8.36-1.976,0-3.491-2.171-3.491-4.276a5.838,5.838,0,0,1,.037-.637Z' transform='translate(-153.455 -404.428)'/%3E%3Cpath class='h' d='M165.86,403.842c7.307,0,12.377,5.527,18.9,5.527,7.819,0,12.146-3.809,13.232-11.251l-1.185-.2c-.33,1.971-1.615,4.341-3.919,4.341-2.173,0-4.477-1.909-7.831-3.75-3.36-1.909-7.213-3.75-12.019-3.75-7.731,0-14.254,4.555-17.964,10.9l1.717,1.894A12.317,12.317,0,0,1,165.86,403.842Z' transform='translate(-151.771 -394.761)'/%3E%3Cpath class='i' d='M172.892,450.1c-5.659,0-12.814-1.225-17.015-5.2l-2.424,3.323c3.487,8.022,10.927,13.325,22.073,13.325,7.367,0,15.518-2.918,19.459-10.2l-3.088-4.253C188.266,449.005,182.155,450.1,172.892,450.1Z' transform='translate(-151.166 -413.508)'/%3E%3C/g%3E%3C/g%3E%3Cpath class='j' d='M13.964,3.317V1.285H4.7V-7.5h7.387l-.308-2.032H4.7v-7.736h8.957V-19.3H2.576V3.317ZM24.583-4.878V-7.041H17.135v2.163ZM45.852,3.055,37.542-19.432H35.356L26.984,3.317h2.155l2.616-7.31h9.3L43.79,3.546Zm-5.51-9.047H32.525L36.4-16.777ZM59.919,1.875,59.642-.092a6.183,6.183,0,0,1-4.432,1.836c-2.955,0-4.74-2.36-4.74-6.2,0-3.8,1.785-6.2,4.555-6.2a6.371,6.371,0,0,1,4.432,1.868l.339-2.163a7.645,7.645,0,0,0-4.74-1.573c-3.694,0-6.648,2.885-6.648,8.1,0,5.114,2.863,8.064,6.587,8.064A7.331,7.331,0,0,0,59.919,1.875Zm14.066,0L73.708-.092a6.183,6.183,0,0,1-4.432,1.836c-2.955,0-4.74-2.36-4.74-6.2,0-3.8,1.785-6.2,4.555-6.2a6.371,6.371,0,0,1,4.432,1.868l.339-2.163a7.645,7.645,0,0,0-4.74-1.573c-3.694,0-6.648,2.885-6.648,8.1,0,5.114,2.862,8.064,6.587,8.064A7.331,7.331,0,0,0,73.985,1.875Zm15.7-6.294c0-5.146-2.832-8.1-6.618-8.1-3.663,0-6.525,2.95-6.525,8.1,0,5.114,2.8,8.064,6.525,8.064S89.683.695,89.683-4.419Zm-2.093,0c0,3.671-1.57,6.228-4.525,6.228C80.2,1.809,78.6-.846,78.6-4.419c0-3.671,1.57-6.261,4.463-6.261C85.989-10.68,87.589-7.992,87.589-4.419Zm17.3,7.736v-15.5h-2.031V-.977c-1.6,1.672-3.17,2.655-4.709,2.655C96.3,1.678,95.438.5,95.438-1.5V-12.188H93.407V-1.108c0,2.95,1.416,4.753,4.34,4.753,1.97,0,3.632-1.115,5.233-2.622l.339,2.295Zm16.221,0V-7.762c0-2.983-1.447-4.753-4.34-4.753-1.97,0-3.632,1.115-5.233,2.622l-.339-2.295h-1.57v15.5h2.031V-7.894c1.6-1.672,3.17-2.688,4.709-2.688,1.847,0,2.709,1.213,2.709,3.212V3.317Zm11.142,0-.308-1.8a7.75,7.75,0,0,1-1.354.164c-1.57,0-2.155-.688-2.155-2.262v-9.768h3.632l-.277-1.836h-3.355v-5.736l-2,.361v5.376h-2.247v1.836h2.247V-.223c0,2.852,1.508,3.8,3.786,3.8A7.417,7.417,0,0,0,132.251,3.317Zm6.31-20.782a1.524,1.524,0,0,0-1.447-1.573,1.549,1.549,0,0,0-1.477,1.573,1.549,1.549,0,0,0,1.477,1.573A1.524,1.524,0,0,0,138.561-17.465ZM138.1,3.317v-15.5h-2v15.5Zm16.436,0V-7.762c0-2.983-1.447-4.753-4.34-4.753-1.97,0-3.632,1.115-5.233,2.622l-.339-2.295h-1.57v15.5h2.031V-7.894c1.6-1.672,3.17-2.688,4.709-2.688,1.847,0,2.709,1.213,2.709,3.212V3.317Zm7.91-1.541c.523.131,1.016.229,1.754.393l1.416.262c2.585.524,3.509,1.18,3.509,2.393,0,1.541-1.908,2.753-4.863,2.753-2.863,0-4.771-.918-4.771-2.524C159.491,3.809,160.445,2.76,162.446,1.776ZM167.4-7.238a3.392,3.392,0,0,1-3.447,3.671,3.391,3.391,0,0,1-3.447-3.606,3.418,3.418,0,0,1,3.386-3.737A3.475,3.475,0,0,1,167.4-7.238Zm.185-3.966a5.522,5.522,0,0,0-3.694-1.311,5.193,5.193,0,0,0-5.386,5.278,5.068,5.068,0,0,0,2.678,4.622c-.923.623-1.447,1.246-1.447,2.065a1.923,1.923,0,0,0,1.077,1.606c-2.185,1.213-3.324,2.557-3.324,4.13,0,2.688,2.893,4.032,6.648,4.032s6.925-1.672,6.925-4.655c0-2.295-1.754-3.311-4.986-3.934L165,.4c-2.678-.524-3.263-.754-3.263-1.377,0-.361.339-.754.954-1.115a5.331,5.331,0,0,0,1.262.131A5.209,5.209,0,0,0,169.4-7.238a5.1,5.1,0,0,0-.77-2.753l2.924-.328-.339-2.131Z' transform='translate(1027.945 450.019)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }

  &-item {
    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  &-footer {
    padding-top: 16px;

    .checkbox {
      padding-left: 28px;
      font-size: 18px;
      letter-spacing: -0.36px;
      color: #333;
    }
  }

  &-btn-wrap {
    display: flex;

    a {
      position: relative;
      letter-spacing: -0.28px;
      color: #717171;

      &:not(:last-child) {
        margin-right: 10px;
        padding-right: 10px;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          width: 1px;
          height: 12px;
          transform: translateY(-50%);
          background-color: #E6E6E6;
        }
      }
    }
  }

  .field {
    margin-bottom: 0;
  }

  .input {
    height: 51px;
    padding: 0 40px 0 12px;
    font-size: 18px;
  }

  .control {
    &:last-child {
      padding-top: 40px;
    }
  }

  .button {
    width: 100%;
    height: 56px;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0px 4px 12px rgba(0,0,0, 0.1);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.45px;
    color: #FFF;
    background: #099;
  }
}