.footer {
  padding: 16px 0;
  font-size: 12px;
  letter-spacing: normal;
  line-height: 1.33;
  text-align: center;
  color: #717171;
  background-color: #FFF;

  address {
    font-style: normal;
    white-space: nowrap;

    a {
      color: #717171;
    }
  }
}