<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.eaccounting.front.approvalDoc.mapper.ApprovalDocMapper">

    <select id="getApprovalData" parameterType="java.util.Map" resultType="camelCaseMap">
        <![CDATA[
        SELECT
        a.*
        , (SELECT code_name FROM tb_code z
            WHERE z.code_kind='1412' AND z.code = a.depth_code1) AS code_name_one
        , (SELECT code_name FROM tb_code z
            WHERE z.code_kind='1413' AND z.code = concat(a.depth_code1, a.depth_code2)) AS code_name_two
        , (SELECT code_name FROM tb_code z
            WHERE z.code_kind='1414' AND z.code = concat(a.depth_code1, a.depth_code2, a.depth_code3)) AS code_name_three
        FROM
        (
         SELECT a.paydoc_no
        , a.apprv_title
        , a.empl_no
        , a.paydoc_create_date
        , a.apprv_req_time
        , a.APPRV_COMPLT_TIME
        , a.trans_pattern_code
        , c.user_name
        , substring(a.trans_pattern_code,3, 2) as depth_code1
        , substring(a.trans_pattern_code,5, 2) as depth_code2
        , substring(a.trans_pattern_code,7, 2) as depth_code3
        , a.apprv_status
        , a.cont_name
        , a.obj_acct_no
        , a.doc_type
        FROM tb_appc a
        INNER JOIN tb_emp c
        ON a.cont_no = c.empl_no
        ]]>
        <!--<where>
            a.apprv_status IN (#{apprvStatus}, #{apprvStatus2})
            /*AND c.usage_ind  = 'Y'*/
            <if test= 'emplNo != null and emplNo != "" '>
                AND a.empl_no = #{emplNo}
            </if>
            <choose>
                <when test= 'apprvStatus == "1A" and apprvStatus2 == "IH" '>
                    <if test= 'searchDate == "paydocCreateDate"'>
                      &#45;&#45;  AND date_format(a.paydoc_create_date, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
                    </if>
                </when>
                <otherwise>
                    <if test= 'searchDate == "paydocCreateDate"'>
                     &#45;&#45;   AND date_format(a.apprv_req_time, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
                    </if>
                </otherwise>
            </choose>
            <if test= 'searchName == "apprvTitle"'>
                AND a.apprv_title LIKE CONCAT('%',#{apprvTitle},'%')
            </if>
            <if test= 'searchName == "purchaseName"'>
                AND ifnull(a.purchase_name,'') LIKE CONCAT('%',#{purchaseName},'%')
            </if>
            <if test= 'searchName == "objAcctNo"'>
                AND a.obj_acct_no LIKE CONCAT('%',#{apprvTitle},'%')
            </if>
            <if test= 'depthOne != null and depthOne != "" '>
                AND a.trans_pattern_code  LIKE CONCAT('10',#{depthOne},'%')
            </if>
            <if test= 'depthTwo != null and depthTwo != "" '>
                AND a.trans_pattern_code  LIKE CONCAT('10',#{depthTwo},'%')
            </if>
            <if test= 'depthThree != null and depthThree != "" '>
                AND a.trans_pattern_code  LIKE CONCAT('10',#{depthThree})
            </if>
        </where>
     -->   ) AS a
       <!-- <choose>
            <when test="sortColumn != null and sortColumn != ''">
                ORDER BY ${sortColumn} ${sortDirection}
            </when>
            <otherwise>
                ORDER BY a.full_paydoc_create_date DESC, a.paydoc_no DESC, a.apprv_status
            </otherwise>
        </choose>
        <if test='perPage > 0'>
            LIMIT #{page}, #{perPage}
        </if>-->
    </select>

    <select id="getApprovalDataCount" resultType="Integer">
        <![CDATA[
        SELECT COUNT(*)
        FROM
        (
        SELECT a.paydoc_no
        FROM tb_appc a

        INNER JOIN tb_emp c
        ON a.empl_no = c.empl_no
        ]]>
      <!--  <where>
            a.apprv_status IN (#{apprvStatus}, #{apprvStatus2})
            AND c.usage_ind  = 'Y'
            <if test= 'emplNo != null and emplNo != "" '>
                AND a.empl_no = #{emplNo}
            </if>
            <choose>
                <when test= 'apprvStatus == "1A" and apprvStatus2 == "IH" '>
                    <if test= 'searchDate == "paydocCreateDate"'>
                        AND date_format(a.paydoc_create_date, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
                    </if>
                </when>
                <otherwise>
                    <if test= 'searchDate == "paydocCreateDate"'>
                        AND date_format(a.apprv_req_time, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
                    </if>
                </otherwise>
            </choose>
            <if test= 'searchName == "apprvTitle"'>
                AND a.apprv_title LIKE CONCAT('%',#{apprvTitle},'%')
            </if>
            <if test= 'searchName == "purchaseName"'>
                AND ifnull(a.purchase_name,'') LIKE CONCAT('%',#{purchaseName},'%')
            </if>
            <if test= 'searchName == "objAcctNo"'>
                AND a.obj_acct_no LIKE CONCAT('%',#{apprvTitle},'%')
            </if>
            <if test= 'depthOne != null and depthOne != "" '>
                AND a.trans_pattern_code  LIKE CONCAT('10',#{depthOne},'%')
            </if>
            <if test= 'depthTwo != null and depthTwo != "" '>
                AND a.trans_pattern_code  LIKE CONCAT('10',#{depthTwo},'%')
            </if>
            <if test= 'depthThree != null and depthThree != "" '>
                AND a.trans_pattern_code  LIKE CONCAT('10',#{depthThree})
            </if>
        </where>-->
        ) AS a
    </select>


    <select id="selectCodeDepth1" resultType="com.web.eaccounting.front.common.dto.CodeDto">
        <![CDATA[
        SELECT *
        FROM tb_code
        WHERE code_kind = '1412'
          AND usage_ind = 'Y'
        ]]>

    </select>

    <select id="selectCodeDepth2" resultType="com.web.eaccounting.front.common.dto.CodeDto">
        <![CDATA[
        SELECT *
        FROM tb_code
        WHERE code_kind = '1413'
          AND filler1 = #{code}
          AND usage_ind = 'Y'
        ]]>

    </select>

    <select id="selectCodeDepth3" resultType="com.web.eaccounting.front.common.dto.CodeDto">
        <![CDATA[
        SELECT *
        FROM tb_code
        WHERE code_kind = '1414'
          AND concat(filler1, filler2)  = #{code}
          AND usage_ind = 'Y'
        ]]>
    </select>

</mapper>