<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.eaccounting.front.login.mapper.LoginMapper">

    <select id="selectEmp" resultType="com.web.eaccounting.front.common.dto.LoginDto">;

        SELECT
          UserId,
          UserName,
          Empl_No
        FROM TB_EMP
        WHERE UserId = #{UserId}

    </select>

</mapper>