<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.eaccounting.front.login.mapper.LoginMapper">

    <select id="findByEmplNo" resultType="com.web.eaccounting.front.common.dto.LoginDto">;
        <![CDATA[

        with menu_user as
        (
            select author_id
            from tb_menuauth_dept
            where dept_code = (SELECT dept_code FROM tb_emp z WHERE z.empl_no = #{emplNo} AND usage_ind = 'Y')
            union
            select author_id
            from tb_menuauth_emp
            where empl_no = #{emplNo}
        )
        SELECT
            A.empl_no,
            A.user_name,
            B.dept_code,
            B.dept_name,
            A.position_code,
            C.position_name,
            A.title_code,
            D.title_name,
            ( SELECT min(author_id) FROM menu_user) author_id
        FROM TB_EMP AS A
            INNER JOIN TB_ORG AS B
                ON A.dept_code = b.dept_code
            INNER JOIN TB_POSITION AS C
                ON A.position_code = C.position_id
            INNER JOIN TB_TITLE AS D
                ON A.title_code = D.title_id
        WHERE A.usage_ind = 'Y'
        AND A.empl_no = #{emplNo}
        ]]>
    </select>

</mapper>