.lnb {
  display: flex;
  // position: relative; 
  position: absolute;
  top: 0;
  left: 0;
  // min-height: 752px;
  height: 100%;

  // 원뎁스 축소
  &.is-active {
    + .contents__body,
    + .main-body {
      margin-left: 104px;
    }

    + .main-body .search-body {
      width: 340px;
    }

    .lnb__depth--one {
      width: 64px;
  
      .lnb__head {
        justify-content: center;
        background-color: #099;
  
        button {
          background: #099 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23fff;opacity:0;%7D.b%7Bfill:none;stroke:%23fff;stroke-linecap:round;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' width='32' height='32'/%3E%3Cg transform='translate(7.152 9)'%3E%3Cline class='b' x2='14.22' transform='translate(0)'/%3E%3Cpath class='b' d='M1,0H15.03' transform='translate(-1 5.89)'/%3E%3Cline class='b' x2='19.542' transform='translate(0 11.779)'/%3E%3Cpath class='b' d='M.127,4.429-2.214,1.643' transform='translate(20.248 7.155)'/%3E%3Cpath class='b' d='M2.613,3.071,0,0' transform='matrix(-0.259, -0.966, 0.966, -0.259, 18.034, 15)'/%3E%3C/g%3E%3C/svg%3E");
        }
      }
  
      .lnb__item {
        a {
          text-indent: -999em;

          &::after {
            display: none;
          }
        }
      }
    }

    .lnb__depth--two {
      left: 54px;
    }

    .lnb__depth--three {
      left: 256px;
    }
  }
  
  &__depth {
    overflow: hidden;
    position: relative;
    height: 100%;
    padding-top: 44px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(110, 110, 110, 0.2);
    background-color: #FFF;

    &--one {
      z-index: 20;
      width: 200px;

      .lnb__item {
        a {
          padding-left: 58px;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 16px;
            width: 32px;
            height: 32px;
            transform: translateY(-50%);
          }
        }
      }
    }

    &--two {
      z-index: 19;
      display: none;
      position: absolute;
      top: 0;
      left: 190px;
      width: 210px;

      .lnb__item {
        a {
          padding-left: 34px;
        }
      }
    }

    &--three {
      z-index: 18;
      display: none;
      position: absolute;
      top: 0;
      left: 390px;
      width: 176px;

      .lnb__item {
        a {
          padding-left: 30px;
        }
      }
    }
  }

  &__head {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: flex-end;
    width: 100%;
    padding: 6px 8px;
    
    button {
      width: 32px;
      height: 32px;
      padding: 0;
      border: 0;
      outline: none;
      cursor: pointer;
      background: #FFF url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23fff;opacity:0;%7D.b%7Bfill:none;stroke:%23099;stroke-linecap:round;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' width='32' height='32'/%3E%3Cg transform='translate(3.848 9)'%3E%3Cline class='b' x1='14.22' transform='translate(6.78)'/%3E%3Cpath class='b' d='M15.03,0H1' transform='translate(5.97 5.89)'/%3E%3Cline class='b' x1='19.542' transform='translate(1.458 11.779)'/%3E%3Cpath class='b' d='M-2.214,4.429.127,1.643' transform='translate(2.839 7.155)'/%3E%3Cpath class='b' d='M2.613,0,0,3.071' transform='matrix(0.259, -0.966, 0.966, 0.259, 0, 14.205)'/%3E%3C/g%3E%3C/svg%3E");
      
    }
  }

  &__item {
    a {
      display: block;
      position: relative;
      height: 44px;
      
      font-size: 14px;
      letter-spacing: -0.28px;
      line-height: 45px;
      color: #222;
      background-color: #FFF;

      &:hover {
        background-color: #E2F2F2;
      }

      &.is-active {
        background-color: #E2F2F2;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 17px;
          width: 7px;
          height: 7px;
          transform: translateY(-50%) rotate(45deg);
          border-top: 1px solid #222;
          border-right: 1px solid #222;
        }

        &.close {
          &::after {
            display: none;
          }
        }
      }
    }

    &.exception {
      a {
        &:hover {
          background-color: #F6F6F6;
        }
  
        &.is-active {
          background-color: #F6F6F6;
        }
      }
    }

    &--sign {
      border-bottom: 1px solid #E8E8E8;

      a:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;%7D.b%7Bfill:%233e3e3e;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' width='32' height='32'/%3E%3Cg transform='translate(-0.074 -0.256)'%3E%3Cpath class='b' d='M20.873,10.256H8.373V5.506a2.252,2.252,0,0,1,2.25-2.25h8a2.252,2.252,0,0,1,2.25,2.25Zm-11-1.5h9.5V5.506a.75.75,0,0,0-.75-.75h-8a.75.75,0,0,0-.75.75Z'/%3E%3Crect class='b' width='10.114' height='1.5' transform='translate(7.717 14.057)'/%3E%3Crect class='b' width='5.057' height='1.5' transform='translate(7.717 17.146)'/%3E%3Cpath class='b' d='M28.408,19.529l-2.687-2.687a.75.75,0,0,0-1.061,0l-2.169,2.169-6.2,6.031v3.644h4.039l6-6.008,0-.006,2.083-2.083a.749.749,0,0,0,0-1.06m-8.7,7.657H17.786v-1.51l4.778-4.644,1.645,1.646Zm5.646-5.66L23.724,19.9l1.466-1.467,1.627,1.626Z'/%3E%3Cpath class='b' d='M6.825,6.159a2.752,2.752,0,0,0-2.75,2.75v17a2.752,2.752,0,0,0,2.75,2.75h8.7v-1.5h-8.7a1.252,1.252,0,0,1-1.25-1.25v-17a1.252,1.252,0,0,1,1.25-1.25h3v-1.5Z'/%3E%3Cpath class='b' d='M22.421,6.159h-3v1.5h3a1.252,1.252,0,0,1,1.25,1.25v7.033h1.5V8.909a2.752,2.752,0,0,0-2.75-2.75'/%3E%3C/g%3E%3C/svg%3E");
      }
    }

    &--card {
      a::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23ccfff5;opacity:0;%7D.b%7Bfill:%231aa3ff;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' width='32' height='32'/%3E%3Cg transform='translate(-0.285 0.5)'%3E%3Cpath class='b' d='M26.786,23h-21V9h21Zm0-15.5h-21A1.5,1.5,0,0,0,4.286,9V23a1.5,1.5,0,0,0,1.5,1.5h21a1.5,1.5,0,0,0,1.5-1.5V9a1.5,1.5,0,0,0-1.5-1.5'/%3E%3Crect class='b' width='22' height='2' transform='translate(5.105 11.918)'/%3E%3Crect class='b' width='8' height='1.8' transform='translate(7.729 19.678)'/%3E%3C/g%3E%3C/svg%3E");
      }
    }

    &--customer {
      border-bottom: 1px solid #E8E8E8;

      a::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23ccfff5;opacity:0;%7D.b%7Bfill:%231aa3ff;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' width='32' height='32'/%3E%3Cg transform='translate(-0.285)'%3E%3Cpath class='b' d='M25.286,25.5V6.553A1.521,1.521,0,0,0,23.8,5H8.772A1.52,1.52,0,0,0,7.286,6.553V25.5h-2V27h22V25.5ZM8.772,6.553H23.8V25.447H8.772Z'/%3E%3Crect class='b' width='1.5' height='3' transform='translate(11.992 9.889)'/%3E%3Crect class='b' width='1.5' height='3' transform='translate(19.078 9.889)'/%3E%3Crect class='b' width='1.5' height='3' transform='translate(15.535 9.889)'/%3E%3Crect class='b' width='1.5' height='3' transform='translate(11.992 14.141)'/%3E%3Crect class='b' width='1.5' height='3' transform='translate(19.078 14.141)'/%3E%3Crect class='b' width='1.5' height='3' transform='translate(15.535 14.141)'/%3E%3Crect class='b' width='1.5' height='3' transform='translate(11.992 18.395)'/%3E%3Crect class='b' width='1.5' height='3' transform='translate(19.078 18.395)'/%3E%3Crect class='b' width='1.5' height='3' transform='translate(15.535 18.395)'/%3E%3C/g%3E%3C/svg%3E");
      }
    }

    &--general {
      a::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23ccfff5;opacity:0;%7D.b%7Bfill:%23099;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' width='32' height='32'/%3E%3Cpath class='b' d='M5.909,30.5A.889.889,0,0,1,5,29.627V14.287a.615.615,0,0,1,.224-.471L10,9.858V8.972a.535.535,0,0,1,.547-.522H11.7l3.645-3.194a3.258,3.258,0,0,1,4.174,0L23.164,8.45h1.147a.536.536,0,0,1,.548.522v.886l4.782,3.958a.615.615,0,0,1,.224.47v15.34a.89.89,0,0,1-.91.868Zm.4-1.246H28.561V15.507L21.49,21.7l4.853,3.984a.612.612,0,0,1,.224.425.6.6,0,0,1-.155.452.666.666,0,0,1-.5.217.674.674,0,0,1-.424-.15L18.7,21.053a2.058,2.058,0,0,0-2.444,0L9.384,27.016a.66.66,0,0,1-.434.151.67.67,0,0,1-.488-.194.606.606,0,0,1-.167-.449.618.618,0,0,1,.212-.431l4.965-4.3L6.305,15.507ZM11.1,18.02l3.343,2.93.955-.828a3.308,3.308,0,0,1,2.092-.705,3.252,3.252,0,0,1,2.063.694l.944.775,3.27-2.865V9.494H11.1Zm13.76-.96,3.26-2.856-3.26-2.7ZM6.746,14.2,10,17.06V11.506ZM17.432,5.741a1.827,1.827,0,0,0-1.2.431l-2.6,2.279h7.608l-2.6-2.279a1.817,1.817,0,0,0-1.2-.431' transform='translate(-1.432 -1.498)'/%3E%3Cpath class='b' d='M16.078,18.993v-.877L15.9,18.09a2.956,2.956,0,0,1-1.155-.384l-.173-.112.413-1.044.255.155a2.468,2.468,0,0,0,1.237.333c.517,0,.877-.244.877-.593,0-.237-.109-.5-.909-.79-.9-.32-1.729-.748-1.729-1.723a1.644,1.644,0,0,1,1.282-1.554l.151-.044v-.907h1.091v.846l.182.026a2.775,2.775,0,0,1,.919.294l.2.108-.43,1.029-.241-.126a2.245,2.245,0,0,0-1.081-.264c-.558,0-.755.264-.755.49,0,.248.152.423,1.013.747.808.3,1.634.747,1.634,1.809a1.732,1.732,0,0,1-1.347,1.631l-.151.044v.933Z' transform='translate(-0.621 -2.025)'/%3E%3C/svg%3E");
      }
    }

    &--asset {
      a::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23ccfff5;opacity:0;%7D.b%7Bfill:%23099;%7D.c,.d%7Bfill:none;stroke:%23099;stroke-miterlimit:10;%7D.c%7Bstroke-width:0.5px;%7D.d%7Bstroke-width:0.25px;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' width='32' height='32'/%3E%3Cpath class='b' d='M28.524,28.422V18.051a.839.839,0,0,0-.83-.85H19.3a.84.84,0,0,0-.831.85V28.422H17.346v.821h12.3v-.821Zm-.83-.029H19.3V18.051h8.4Z'/%3E%3Cpath class='c' d='M28.524,28.422V18.051a.839.839,0,0,0-.83-.85H19.3a.84.84,0,0,0-.831.85V28.422H17.346v.821h12.3v-.821Zm-.83-.029H19.3V18.051h8.4Z'/%3E%3Crect class='b' width='0.838' height='1.642' transform='translate(21.096 19.877)'/%3E%3Crect class='d' width='0.838' height='1.642' transform='translate(21.096 19.877)'/%3E%3Crect class='b' width='0.838' height='1.642' transform='translate(25.057 19.877)'/%3E%3Crect class='d' width='0.838' height='1.642' transform='translate(25.057 19.877)'/%3E%3Crect class='b' width='0.838' height='1.642' transform='translate(23.074 19.877)'/%3E%3Crect class='d' width='0.838' height='1.642' transform='translate(23.074 19.877)'/%3E%3Crect class='b' width='0.838' height='1.642' transform='translate(21.096 22.203)'/%3E%3Crect class='d' width='0.838' height='1.642' transform='translate(21.096 22.203)'/%3E%3Crect class='b' width='0.838' height='1.642' transform='translate(25.057 22.203)'/%3E%3Crect class='d' width='0.838' height='1.642' transform='translate(25.057 22.203)'/%3E%3Crect class='b' width='0.838' height='1.642' transform='translate(23.074 22.203)'/%3E%3Crect class='d' width='0.838' height='1.642' transform='translate(23.074 22.203)'/%3E%3Crect class='b' width='0.838' height='1.642' transform='translate(21.096 24.531)'/%3E%3Crect class='d' width='0.838' height='1.642' transform='translate(21.096 24.531)'/%3E%3Crect class='b' width='0.838' height='1.642' transform='translate(25.057 24.531)'/%3E%3Crect class='d' width='0.838' height='1.642' transform='translate(25.057 24.531)'/%3E%3Crect class='b' width='0.838' height='1.642' transform='translate(23.074 24.531)'/%3E%3Crect class='d' width='0.838' height='1.642' transform='translate(23.074 24.531)'/%3E%3Cpath class='b' d='M14.785,26.13H3.41a1.053,1.053,0,0,1-1.052-1.053V18.253A1.053,1.053,0,0,1,3.41,17.2H14.785a1.053,1.053,0,0,1,1.052,1.052v6.824a1.053,1.053,0,0,1-1.052,1.053M3.41,18.054a.2.2,0,0,0-.2.2v6.824a.2.2,0,0,0,.2.2H14.785a.2.2,0,0,0,.2-.2V18.253a.2.2,0,0,0-.2-.2Z'/%3E%3Cpath class='d' d='M14.785,26.13H3.41a1.053,1.053,0,0,1-1.052-1.053V18.253A1.053,1.053,0,0,1,3.41,17.2H14.785a1.053,1.053,0,0,1,1.052,1.052v6.824A1.053,1.053,0,0,1,14.785,26.13ZM3.41,18.054a.2.2,0,0,0-.2.2v6.824a.2.2,0,0,0,.2.2H14.785a.2.2,0,0,0,.2-.2V18.253a.2.2,0,0,0-.2-.2Z'/%3E%3Crect class='b' width='1.023' height='2.275' transform='translate(8.586 25.893)'/%3E%3Crect class='d' width='1.023' height='2.275' transform='translate(8.586 25.893)'/%3E%3Cpath class='b' d='M5.344,28.1h7.507a.512.512,0,1,1,0,1.024H5.344a.512.512,0,1,1,0-1.024'/%3E%3Cpath class='d' d='M5.344,28.1h7.507a.512.512,0,1,1,0,1.024H5.344a.512.512,0,1,1,0-1.024Z'/%3E%3Crect class='b' width='7.241' height='0.853' transform='translate(4.697 20.48)'/%3E%3Crect class='d' width='7.241' height='0.853' transform='translate(4.697 20.48)'/%3E%3Crect class='b' width='4.736' height='0.853' transform='translate(4.697 22.314)'/%3E%3Crect class='d' width='4.736' height='0.853' transform='translate(4.697 22.314)'/%3E%3Cpath class='b' d='M23.254,7.3,21.981,4.357l-.042-.1h-.01A1.712,1.712,0,0,0,20.359,3.2H11.722a1.711,1.711,0,0,0-1.569,1.055h-.01l-.043.1-1.253,2.9A2.7,2.7,0,0,0,6.931,9.834V13.9a1.728,1.728,0,0,0,1.728,1.728H9.73A1.728,1.728,0,0,0,11.458,13.9v-.836h9.085V13.9a1.728,1.728,0,0,0,1.727,1.728h1.072A1.728,1.728,0,0,0,25.069,13.9V9.886A2.754,2.754,0,0,0,23.254,7.3m-6.065-.177a.775.775,0,0,1,.041-.1,1.374,1.374,0,0,1,.076-.135c.022-.037.043-.074.068-.109s.066-.08.1-.119.055-.064.085-.092.083-.068.125-.1.063-.051.1-.073a1.508,1.508,0,0,1,.149-.079c.035-.017.068-.037.1-.052a1.535,1.535,0,0,1,.182-.055c.033-.008.062-.021.1-.027a1.546,1.546,0,0,1,.6,0c.031.006.061.018.092.026a1.663,1.663,0,0,1,.186.056c.034.014.065.034.1.05.052.026.1.051.153.081s.063.048.094.071a1.6,1.6,0,0,1,.128.1c.029.028.055.06.083.09s.071.079.1.122.045.07.067.107a1.3,1.3,0,0,1,.077.137.92.92,0,0,1,.041.1Zm-6.17-2.866,0,0a.614.614,0,0,1,.479-.216c.331-.008,9.012-.008,9.012-.008a.781.781,0,0,1,.548.228c.017.02.039.029.054.052.132.2.643,1.374.973,2.142.167.389.288.675.288.675h-.036c-.011,0-.021,0-.031,0H20.844a2.3,2.3,0,0,0-4.468,0H9.708L9.995,6.5ZM10.594,13.9a.865.865,0,0,1-.864.864H8.659A.865.865,0,0,1,7.8,13.9v-.836h2.8Zm13.612,0a.866.866,0,0,1-.864.864H22.27a.865.865,0,0,1-.863-.864v-.836h2.8Zm-3.663-1.7H7.8V9.834A1.848,1.848,0,0,1,9.641,7.988H22.308a1.9,1.9,0,0,1,1.9,1.9V12.2Z'/%3E%3Cpath class='d' d='M23.254,7.3,21.981,4.357l-.042-.1h-.01A1.712,1.712,0,0,0,20.359,3.2H11.722a1.711,1.711,0,0,0-1.569,1.055h-.01l-.043.1-1.253,2.9A2.7,2.7,0,0,0,6.931,9.834V13.9a1.728,1.728,0,0,0,1.728,1.728H9.73A1.728,1.728,0,0,0,11.458,13.9v-.836h9.085V13.9a1.728,1.728,0,0,0,1.727,1.728h1.072A1.728,1.728,0,0,0,25.069,13.9V9.886A2.754,2.754,0,0,0,23.254,7.3Zm-6.065-.177a.775.775,0,0,1,.041-.1,1.374,1.374,0,0,1,.076-.135c.022-.037.043-.074.068-.109s.066-.08.1-.119.055-.064.085-.092.083-.068.125-.1.063-.051.1-.073a1.508,1.508,0,0,1,.149-.079c.035-.017.068-.037.1-.052a1.535,1.535,0,0,1,.182-.055c.033-.008.062-.021.1-.027a1.546,1.546,0,0,1,.6,0c.031.006.061.018.092.026a1.663,1.663,0,0,1,.186.056c.034.014.065.034.1.05.052.026.1.051.153.081s.063.048.094.071a1.6,1.6,0,0,1,.128.1c.029.028.055.06.083.09s.071.079.1.122.045.07.067.107a1.3,1.3,0,0,1,.077.137.92.92,0,0,1,.041.1Zm-6.17-2.866,0,0a.614.614,0,0,1,.479-.216c.331-.008,9.012-.008,9.012-.008a.781.781,0,0,1,.548.228c.017.02.039.029.054.052.132.2.643,1.374.973,2.142.167.389.288.675.288.675h-.036c-.011,0-.021,0-.031,0H20.844a2.3,2.3,0,0,0-4.468,0H9.708L9.995,6.5ZM10.594,13.9a.865.865,0,0,1-.864.864H8.659A.865.865,0,0,1,7.8,13.9v-.836h2.8Zm13.612,0a.866.866,0,0,1-.864.864H22.27a.865.865,0,0,1-.863-.864v-.836h2.8Zm-3.663-1.7H7.8V9.834A1.848,1.848,0,0,1,9.641,7.988H22.308a1.9,1.9,0,0,1,1.9,1.9V12.2Z'/%3E%3Cpath class='b' d='M12.71,8.969h-3a.433.433,0,0,0-.433.434v1.626a.433.433,0,0,0,.433.433h3a.433.433,0,0,0,.432-.433V9.4a.433.433,0,0,0-.432-.434m-.172,1.888H9.878V9.574h2.66Z'/%3E%3Cpath class='d' d='M12.71,8.969h-3a.433.433,0,0,0-.433.434v1.626a.433.433,0,0,0,.433.433h3a.433.433,0,0,0,.432-.433V9.4A.433.433,0,0,0,12.71,8.969Zm-.172,1.888H9.878V9.574h2.66Z'/%3E%3Cpath class='b' d='M22.294,8.969h-3a.433.433,0,0,0-.432.434v1.626a.432.432,0,0,0,.432.433h3a.433.433,0,0,0,.433-.433V9.4a.433.433,0,0,0-.433-.434m-.172,1.888h-2.66V9.574h2.66Z'/%3E%3Cpath class='d' d='M22.294,8.969h-3a.433.433,0,0,0-.432.434v1.626a.432.432,0,0,0,.432.433h3a.433.433,0,0,0,.433-.433V9.4A.433.433,0,0,0,22.294,8.969Zm-.172,1.888h-2.66V9.574h2.66Z'/%3E%3Crect class='b' width='3.455' height='0.691' transform='translate(14.313 10.307)'/%3E%3Crect class='d' width='3.455' height='0.691' transform='translate(14.313 10.307)'/%3E%3C/svg%3E");
      }
    }

    &--invest {
      a::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23ccfff5;opacity:0;%7D.b%7Bfill:%23099;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' width='32' height='32'/%3E%3Cpath class='b' d='M26.25,25.5H7.479l5.5-8.4,4.223,2.768c.023.014.047.02.07.032s.013.019.023.026a.751.751,0,0,0,1.052-.13l6.79-8.719a.75.75,0,0,0-1.183-.921l-6.364,8.173L13.271,15.5c-.009-.006-.019-.008-.029-.014s-.034-.041-.058-.057a.752.752,0,0,0-1.038.216L6.5,24.261V5.749a.75.75,0,0,0-1.5,0V26.234A.782.782,0,0,0,5.765,27H26.25a.75.75,0,1,0,0-1.5'/%3E%3C/svg%3E");
      }
    }

    &--sales {
      a::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23ccfff5;opacity:0;%7D.b%7Bfill:%23099;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' width='32' height='32'/%3E%3Cpath class='b' d='M30.034,21.928c-.776-1.194-2.173-1.372-3.743-.472a10.71,10.71,0,0,1-2.874,1.021,8.863,8.863,0,0,1-1.9.048,1.51,1.51,0,0,0,.155-.33,2.489,2.489,0,0,0-1.307-3.209l-2.977-1.516a8.374,8.374,0,0,0-4.366-.521l0-.017-2.379.2v-.33a.673.673,0,0,0-.654-.692H5.154a.674.674,0,0,0-.654.692v10a.674.674,0,0,0,.654.692H9.986a.673.673,0,0,0,.654-.692v-.24l8.246,1.276a11.338,11.338,0,0,0,2.424.269A7.746,7.746,0,0,0,24,27.706l4.268-1.825a.565.565,0,0,0,.064-.032,3.635,3.635,0,0,0,2.018-2.32,2.141,2.141,0,0,0-.314-1.6M9.332,17.54a.714.714,0,0,0-.107.358v7.855a.71.71,0,0,0,.107.359v.006H5.808V17.5H9.332Zm19.73,5.734c-.095.43-.563.9-1.319,1.338l-4.216,1.8a8.417,8.417,0,0,1-4.415.069L10.64,25.171V18.527l2.485-.214.024,0a7.617,7.617,0,0,1,3.658.4l3.017,1.535a1.1,1.1,0,0,1,.633,1.442c-.029.071-.323.676-1.634.248l-1.565-.845a.637.637,0,0,0-.88.3.712.712,0,0,0,.286.931l1.624.878a.219.219,0,0,0,.025.009.224.224,0,0,0,.033.018,11,11,0,0,0,5.267.618,11.758,11.758,0,0,0,3.3-1.172c.553-.316,1.55-.73,2.068.078a.7.7,0,0,1,.081.521' transform='translate(-1.443 0.014)'/%3E%3Cpath class='b' d='M20.6,6.573a5.286,5.286,0,1,1-5.287,5.286A5.292,5.292,0,0,1,20.6,6.573m0-1.351a6.637,6.637,0,1,0,6.636,6.636A6.636,6.636,0,0,0,20.6,5.222' transform='translate(-0.256 -1.354)'/%3E%3Cpath class='b' d='M19.848,15.583v-.824l-.171-.024a2.8,2.8,0,0,1-1.085-.361l-.163-.106.388-.978.24.144a2.3,2.3,0,0,0,1.161.314c.486,0,.825-.229.825-.557,0-.222-.1-.466-.855-.741-.844-.3-1.623-.7-1.623-1.618a1.544,1.544,0,0,1,1.2-1.459l.141-.042V8.479h1.024v.794l.171.024a2.605,2.605,0,0,1,.863.276l.188.1-.4.966-.227-.117a2.1,2.1,0,0,0-1.015-.248c-.523,0-.709.248-.709.46,0,.233.143.4.951.7.759.281,1.534.7,1.534,1.7a1.625,1.625,0,0,1-1.265,1.53l-.141.043v.876Z' transform='translate(-0.01 -1.525)'/%3E%3C/svg%3E");
      }
    }

    &--classification {
      a::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23ccfff5;opacity:0;%7D.b%7Bfill:%23099;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' width='32' height='32'/%3E%3Cg transform='translate(-0.5 0)'%3E%3Cpath class='b' d='M15.857,16.41H15.7a.7.7,0,0,1-.7-.7V8.74a.694.694,0,0,1,.7-.694h.161a.694.694,0,0,1,.7.694v6.974a.7.7,0,0,1-.7.7' transform='translate(0.242 0.075)'/%3E%3Cpath class='b' d='M16.343,15.069h0a.751.751,0,0,1-.021,1.058L13.1,19.362a.733.733,0,1,1-1.034-1.038l3.224-3.235a.744.744,0,0,1,1.055-.021' transform='translate(0.155 0.231)'/%3E%3Cpath class='b' d='M18.5,25.454a10.077,10.077,0,0,1-2.455.314,10.21,10.21,0,1,1,9.912-7.988,5.491,5.491,0,0,1,1.165,1.032A11.533,11.533,0,1,0,19.566,26.6a5.531,5.531,0,0,1-1.067-1.15' transform='translate(0 0)'/%3E%3Cpath class='b' d='M25.477,17.47a10.475,10.475,0,0,1-.334,1.163A4.409,4.409,0,0,1,26.2,19.82a11.467,11.467,0,0,0,.455-1.307,5.551,5.551,0,0,0-1.177-1.044' transform='translate(0.461 0.305)'/%3E%3Cpath class='b' d='M22.368,17.912a4.774,4.774,0,1,1-4.757,4.773,4.771,4.771,0,0,1,4.757-4.773m0-1.22a5.993,5.993,0,1,0,5.973,5.993,5.983,5.983,0,0,0-5.973-5.993' transform='translate(0.159 0.178)'/%3E%3Cpath class='b' d='M21.76,25.851V25.1l-.156-.022a2.529,2.529,0,0,1-.991-.332l-.148-.1.354-.9.218.132a2.107,2.107,0,0,0,1.061.288c.444,0,.753-.21.753-.511,0-.2-.094-.427-.78-.68-.771-.275-1.483-.646-1.483-1.483a1.412,1.412,0,0,1,1.1-1.338l.129-.038v-.781h.936v.727l.155.023a2.356,2.356,0,0,1,.789.252l.172.092-.368.887-.208-.109a1.907,1.907,0,0,0-.927-.228c-.478,0-.649.228-.649.423,0,.213.13.364.87.642.694.257,1.4.642,1.4,1.558a1.49,1.49,0,0,1-1.155,1.4l-.129.038v.8Z' transform='translate(0.35 0.269)'/%3E%3C/g%3E%3C/svg%3E");
      }
    }

    &--deposit {
      a::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23ccfff5;opacity:0;%7D.b%7Bfill:%23099;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' width='32' height='32'/%3E%3Cg transform='translate(-1.029 -0.842)'%3E%3Cpath class='b' d='M19.433,24.362h-.88V20.384H13.812v3.978H11.738l.986.732,3.25,2.414a.348.348,0,0,0,.417,0l3.251-2.414.986-.732Z' transform='translate(0.694 1.161)'/%3E%3Cpath class='b' d='M13.12,14.047a2.069,2.069,0,0,0,1.947,1.609c1.269,0,1.805-.986,2.161-1.951.386-1.03.6-1.211.892-1.211.271,0,.586.236.586.9a2.665,2.665,0,0,1-.315,1.29l-.15.288,1.228.514.128-.239a3.361,3.361,0,0,0,.352-1.1l.03-.216h1.01v-1.3H19.906l-.054-.18A1.964,1.964,0,0,0,18,10.92c-1.163,0-1.676.992-2.058,2.065-.351.955-.661,1.086-.943,1.086-.417,0-.709-.431-.709-1.049a2.925,2.925,0,0,1,.4-1.477l.184-.3-1.247-.493-.133.206a3.5,3.5,0,0,0-.459,1.379l-.03.218H11.952v1.315h1.115Z' transform='translate(0.711 0.404)'/%3E%3Cpath class='b' d='M5.5,18.805a.648.648,0,0,0,.647.647H27.5a.647.647,0,1,0,0-1.294H6.147a.647.647,0,0,0-.647.647' transform='translate(0.204 0.986)'/%3E%3Cpath class='b' d='M4.841,22.047a.648.648,0,0,1-.648-.647V16.388a.648.648,0,0,1,.648-.647H9.568V14.447H4.841A1.943,1.943,0,0,0,2.9,16.388V21.4a1.943,1.943,0,0,0,1.941,1.941h7.591V22.047Z' transform='translate(0 0.695)'/%3E%3Cpath class='b' d='M27.875,14.447H23.148v1.294h4.727a.648.648,0,0,1,.647.647V21.4a.648.648,0,0,1-.647.647H19.981v1.3h7.894A1.944,1.944,0,0,0,29.816,21.4V16.388a1.944,1.944,0,0,0-1.941-1.941' transform='translate(1.342 0.695)'/%3E%3Cpath class='b' d='M25.294,20.438H8.361V8.407a2.808,2.808,0,0,1,2.8-2.8H22.49a2.808,2.808,0,0,1,2.8,2.8ZM9.655,19.144H24V8.407A1.511,1.511,0,0,0,22.49,6.9H11.165a1.511,1.511,0,0,0-1.51,1.509Z' transform='translate(0.429)'/%3E%3C/g%3E%3C/svg%3E");
      }
    }

    &--exchange {
      a::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23ccfff5;opacity:0;%7D.b%7Bfill:%23099;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' width='32' height='32'/%3E%3Cpath class='b' d='M9.409,6.825A5.276,5.276,0,1,1,4.133,12.1,5.282,5.282,0,0,1,9.409,6.825m0-1.348A6.624,6.624,0,1,0,16.033,12.1,6.624,6.624,0,0,0,9.409,5.477'/%3E%3Cpath class='b' d='M8.914,15.541v-.8l-.166-.023a2.683,2.683,0,0,1-1.05-.35l-.157-.1.375-.948.232.14a2.237,2.237,0,0,0,1.124.3c.471,0,.8-.222.8-.539,0-.216-.1-.452-.827-.719-.817-.29-1.572-.681-1.572-1.567A1.493,1.493,0,0,1,8.837,9.526l.137-.041V8.66h.992v.768l.165.024a2.537,2.537,0,0,1,.837.268l.182.1-.391.935-.22-.113a2.02,2.02,0,0,0-.982-.241c-.507,0-.687.241-.687.446,0,.226.137.385.922.679.735.272,1.485.68,1.485,1.646a1.574,1.574,0,0,1-1.225,1.482l-.138.041v.849Z'/%3E%3Cpath class='b' d='M22.591,14.418a5.275,5.275,0,1,1-5.276,5.276,5.282,5.282,0,0,1,5.276-5.276m0-1.348a6.624,6.624,0,1,0,6.624,6.624,6.624,6.624,0,0,0-6.624-6.624'/%3E%3Cpath class='b' d='M24.327,21.628l-.1.059a2.26,2.26,0,0,1-1.05.285,1.6,1.6,0,0,1-1.2-.49,2.012,2.012,0,0,1-.454-1.021h2.526v-.627H21.442v-.068c0-.093.006-.191.012-.284h2.593v-.636H21.562a1.951,1.951,0,0,1,.492-.983,1.478,1.478,0,0,1,1.118-.464,1.962,1.962,0,0,1,.958.238l.1.061.237-.781-.068-.036a2.66,2.66,0,0,0-1.239-.3,2.467,2.467,0,0,0-1.846.774,2.911,2.911,0,0,0-.748,1.489h-.607v.636h.522c-.006.1-.011.2-.011.311v.041h-.511v.627h.569a2.8,2.8,0,0,0,.657,1.513,2.452,2.452,0,0,0,1.9.832,2.516,2.516,0,0,0,1.39-.393l.054-.038Z'/%3E%3Cpath class='b' d='M16.75,25.846l-2.59-1.392.246,1.031a8.511,8.511,0,0,1-8.441-7.917A6.267,6.267,0,0,1,4.556,16.4c-.013.194-.03.385-.03.582A9.927,9.927,0,0,0,14.441,26.9c.118,0,.217,0,.3-.008l.33,1.373Z'/%3E%3Cpath class='b' d='M16.512,5.1l-.25-1.363-1.8,2.322L16.97,7.588l-.194-1.055a8.517,8.517,0,0,1,7.449,7.045,6.211,6.211,0,0,1,1.513.955A9.915,9.915,0,0,0,16.512,5.1'/%3E%3C/svg%3E");
      }
    }

    &--office {
      a::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23ccfff5;opacity:0;%7D.b%7Bfill:%23099;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' width='32' height='32'/%3E%3Cpath class='b' d='M8.079,22.758V5.953H21.445V13.78a4.263,4.263,0,0,1,1.322.293V5.953a1.353,1.353,0,0,0-1.322-1.382H8.079A1.353,1.353,0,0,0,6.757,5.953V22.805H4.978v1.334H15.3a5.234,5.234,0,0,1,1.068-1.381Z'/%3E%3Crect class='b' width='1.334' height='2.668' transform='translate(10.943 8.921)'/%3E%3Crect class='b' width='1.334' height='2.668' transform='translate(17.246 8.92)'/%3E%3Crect class='b' width='1.334' height='2.668' transform='translate(14.096 8.921)'/%3E%3Crect class='b' width='1.334' height='2.668' transform='translate(10.943 12.703)'/%3E%3Cpath class='b' d='M17.246,12.7V15.37h.588a4.242,4.242,0,0,1,.746-.733V12.7Z'/%3E%3Crect class='b' width='1.334' height='2.668' transform='translate(14.096 12.703)'/%3E%3Crect class='b' width='1.334' height='2.668' transform='translate(10.943 16.484)'/%3E%3Crect class='b' width='1.334' height='2.668' transform='translate(14.096 16.484)'/%3E%3Cpath class='b' d='M20.85,21.2a3.8,3.8,0,1,1,3.8-3.8,3.8,3.8,0,0,1-3.8,3.8m0-6.1a2.3,2.3,0,1,0,2.3,2.3,2.3,2.3,0,0,0-2.3-2.3'/%3E%3Cpath class='b' d='M25.316,27.429H16.385a1.708,1.708,0,0,1-1.706-1.707,5.539,5.539,0,0,1,5.533-5.533h1.277a5.539,5.539,0,0,1,5.533,5.533,1.709,1.709,0,0,1-1.706,1.707m-5.1-5.74a4.037,4.037,0,0,0-4.033,4.033.207.207,0,0,0,.206.207h8.931a.207.207,0,0,0,.206-.207,4.037,4.037,0,0,0-4.033-4.033Z'/%3E%3C/svg%3E");
      }
    }

    &--employment {
      a::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;%7D.b%7Bclip-path:url(%23a);%7D.c%7Bopacity:0.5;%7D.d%7Bfill:%23ccfff5;opacity:0;%7D.e%7Bfill:%23099;%7D%3C/style%3E%3CclipPath id='a'%3E%3Crect class='a' width='32' height='32'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg class='b'%3E%3Cg class='b'%3E%3Cg class='c'%3E%3Cg class='b'%3E%3Crect class='d' width='32' height='32'/%3E%3C/g%3E%3C/g%3E%3Cpath class='e' d='M10.859,12.255a3.436,3.436,0,1,0-5.487,2.739,5.014,5.014,0,0,0-3.529,4.782,1.544,1.544,0,0,0,1.543,1.542h5.17V20.161c0-.067.008-.132.011-.2H3.386a.187.187,0,0,1-.187-.186,3.651,3.651,0,0,1,3.647-3.647H8a3.6,3.6,0,0,1,1.725.454,6.162,6.162,0,0,1,.945-1.031,5.011,5.011,0,0,0-1.2-.558,3.419,3.419,0,0,0,1.385-2.739m-5.515,0a2.08,2.08,0,1,1,2.08,2.079,2.082,2.082,0,0,1-2.08-2.079'/%3E%3Cpath class='e' d='M23.462,19.907a6.055,6.055,0,0,0-1.2-3.376,6.05,6.05,0,0,0-3.939-2.391,4.007,4.007,0,1,0-4.623,0,6.1,6.1,0,0,0-3.034,1.412,6.2,6.2,0,0,0-.945,1.031,6.064,6.064,0,0,0-1.159,3.379c0,.068-.01.132-.01.2v3.386a1.584,1.584,0,0,0,1.583,1.582H21.893a1.584,1.584,0,0,0,1.582-1.582V20.161c0-.086-.009-.17-.013-.254m-10.1-9.029a2.651,2.651,0,1,1,2.65,2.651,2.653,2.653,0,0,1-2.65-2.651m8.754,10.384v2.285a.227.227,0,0,1-.226.226H10.139a.227.227,0,0,1-.227-.226V20.161c0-.068.018-.131.02-.2a4.709,4.709,0,0,1,.847-2.519,4.774,4.774,0,0,1,.952-.989,4.7,4.7,0,0,1,2.929-1.04h2.712a4.7,4.7,0,0,1,2.881,1,4.8,4.8,0,0,1,.96.981,4.708,4.708,0,0,1,.88,2.512c0,.085.026.167.026.254Z'/%3E%3Cpath class='e' d='M26.627,14.939a3.435,3.435,0,1,0-4.1,0,4.988,4.988,0,0,0-1.214.568,6.179,6.179,0,0,1,.956,1.023A3.6,3.6,0,0,1,24,16.073h1.155A3.65,3.65,0,0,1,28.8,19.719a.186.186,0,0,1-.186.187H23.462c0,.085.014.169.014.255v1.1h5.138a1.545,1.545,0,0,0,1.543-1.542,5.011,5.011,0,0,0-3.53-4.78M22.5,12.2a2.08,2.08,0,1,1,2.08,2.08A2.081,2.081,0,0,1,22.5,12.2'/%3E%3Cpath class='e' d='M19.072,18.009a.6.6,0,0,0-.427-.187.667.667,0,0,0-.433.167L15.78,20.318l-1.391-1.3a.627.627,0,0,0-.435-.164.607.607,0,0,0-.4,1.052l2.233,2.082,3.261-3.121a.61.61,0,0,0,.019-.86'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
    }

    &--etc {
      border-bottom: 1px solid #E8E8E8;
      
      a::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23ccfff5;opacity:0;%7D.b%7Bfill:%23099;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' width='32' height='32'/%3E%3Cg transform='translate(-0.124 -0.131)'%3E%3Cpath class='b' d='M15.525,26.865a.622.622,0,0,1-.406-.149l-1.64-1.385-1.638,1.385a.628.628,0,0,1-.813,0L9.391,25.331l-1.232,1.04a.628.628,0,0,1-1.034-.478V5.759a.628.628,0,0,1,.628-.628H25.346a.628.628,0,0,1,.628.628V24.846a.628.628,0,0,1-.222.479l-1.643,1.391a.629.629,0,0,1-.812,0l-1.64-1.385L20.019,26.72a.628.628,0,0,1-.813,0l-1.638-1.389L15.93,26.716a.622.622,0,0,1-.406.149m6.133-2.99a.631.631,0,0,1,.406.149l1.64,1.389,1.015-.859V6.387H8.381V24.536l.6-.512a.627.627,0,0,1,.812,0l1.642,1.389,1.638-1.389a.628.628,0,0,1,.813,0l1.639,1.389,1.638-1.389a.627.627,0,0,1,.812,0l1.639,1.389,1.638-1.389a.627.627,0,0,1,.406-.149'/%3E%3Cpath class='b' d='M15.647,10.56h-4.5v1.5h4.5Zm4.523,3.192h-9v1.5h9v-1.5Z'/%3E%3Crect class='b' width='17' height='1.5' transform='translate(8.125 19.131)'/%3E%3C/g%3E%3C/svg%3E");
      }
    }

    &--monitor {
      a::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23ccfff5;opacity:0;%7D.b%7Bfill:%233e3e3e;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' width='32' height='32'/%3E%3Cpath class='b' d='M25.039,20.558H5.988A1.765,1.765,0,0,1,4.225,18.8V7.366A1.765,1.765,0,0,1,5.988,5.6H25.039A1.764,1.764,0,0,1,26.8,7.366V18.8a1.764,1.764,0,0,1-1.762,1.761M5.988,7.033a.334.334,0,0,0-.334.333V18.8a.334.334,0,0,0,.334.332H25.039a.334.334,0,0,0,.333-.332V7.366a.334.334,0,0,0-.333-.333Z' transform='translate(0.563 0.498)'/%3E%3Crect class='b' width='1.715' height='3.81' transform='translate(15.219 20.658)'/%3E%3Cpath class='b' d='M9.432,24.77H22.006a.858.858,0,0,1,0,1.716H9.432a.858.858,0,0,1,0-1.716' transform='translate(0.356 -0.411)'/%3E%3Crect class='b' width='12.127' height='1.429' transform='translate(8.709 14.294)'/%3E%3Crect class='b' width='7.932' height='1.429' transform='translate(8.707 11.593)'/%3E%3C/svg%3E");
      }
    }

    &--config {
      a::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23ccfff5;opacity:0;%7D.b%7Bfill:%233e3e3e;%7D.c%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Crect class='a' width='32' height='32'/%3E%3Cpath class='b' d='M13.953,28a1.642,1.642,0,0,1-1.6-1.32L11.909,24.5c-.44-.258-.818-.476-1.177-.715l-2.194.7a1.612,1.612,0,0,1-.507.082,1.651,1.651,0,0,1-1.426-.814L4.554,20.285A1.62,1.62,0,0,1,4.889,18.2l1.639-1.458.034-1.4-1.67-1.573a1.641,1.641,0,0,1-.337-2.052L6.6,8.25a1.648,1.648,0,0,1,1.415-.818h.114a1.643,1.643,0,0,1,.414.053l2.054.743c.45-.25.83-.469,1.219-.658l.5-2.25A1.643,1.643,0,0,1,13.918,4H18.04a1.643,1.643,0,0,1,1.6,1.321L20.084,7.5c.447.263.825.48,1.177.715l2.194-.7a1.61,1.61,0,0,1,.506-.082,1.653,1.653,0,0,1,1.431.817l2.046,3.469a1.624,1.624,0,0,1-.309,2.084l-1.665,1.457-.034,1.4L27.1,18.234a1.642,1.642,0,0,1,.337,2.053L25.463,23.75a1.647,1.647,0,0,1-1.413.818,1.666,1.666,0,0,1-.523-.083l-2.1-.711c-.451.251-.832.469-1.219.656l-.5,2.254A1.644,1.644,0,0,1,18.11,28Zm-2.977-5.921a8.144,8.144,0,0,0,2.324,1.34l.57,3.08h4.255l.632-3.192A6.548,6.548,0,0,0,21.073,22l2.953,1.045,2.128-3.607-2.418-2.2a6.618,6.618,0,0,0,.032-2.657l2.387-2.043-2.129-3.6-3.058,1a6.937,6.937,0,0,0-2.274-1.36L18.125,5.5H13.87l-.632,3.192A6.578,6.578,0,0,0,10.922,10L7.973,8.946,5.841,12.553l2.418,2.2a6.6,6.6,0,0,0-.031,2.657L5.84,19.449l2.133,3.607Zm4.991-.977A5.049,5.049,0,0,1,11,16a5.052,5.052,0,1,1,5.068,5.1Zm-.049-8.668a3.457,3.457,0,0,0-2.471,1.021,3.7,3.7,0,0,0,0,5.091,3.494,3.494,0,0,0,2.46,1.022H16a3.6,3.6,0,0,0,2.548-6.113,3.5,3.5,0,0,0-2.46-1.021Z'/%3E%3Crect class='c' width='32' height='32'/%3E%3C/svg%3E");
      }
    }
  }
}