.table {
  table-layout: fixed;
  max-width: none;
  min-width: 100%;
  width: 100%;
  // width: auto;
  border-collapse: separate;
  border-top: 1px solid #E6E6E6;
  font-size: 14px;
  letter-spacing: -0.28px;
  color: #222;

  thead th {
    border-width: 0 0 1px;
  }

  tbody tr:last-child td, 
  tbody tr:last-child th {
    border-bottom-width: 1px;
  }

  &-wrap {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    margin-bottom: 8px;

    &.is-not-named {
      // height: 34px;
      justify-content: flex-end;
    }
  }

  &-inner {
    position: relative;
    padding-left: 340px;
  }

  &-contents {
    width: 100%;
  }

  &-footer {
    margin-top: 20px;
  }

  &-guide {
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.32px;
  }

  th,
  td {
    border-color: #E6E6E6;
    vertical-align: middle;
    color: #222 !important;
  }

  th {
    position: relative;
    width: 177px;
    padding: 6px 10px 6px 30px;
    font-weight: 500;
    background-color: #F8F8F8;
  }

  td {
    height: 40px;
    padding: 6px 10px;

    &.is-align-left {
      text-align: left !important;
    }

    &.is-align-right {
      text-align: right !important;
    }
  }

  &.row-type {
    col {
      &:nth-child(odd) {
        width: 177px;
      }
    }
  }

  &.trisection-type {
    col {
      &:nth-child(odd) {
        width: 150px;
      }
    }
  }

  &.col-type {
    &.view {
      tr:hover {
        background-color: #FFF;
      }
    }

    .checkbox,
    .radio {
      padding-left: 20px;
      vertical-align: middle;
    }

    .check-cell {
      width: 40px !important;
      padding: 10px;
    }

    .tui-datepicker-input {
      width: 100% !important;
    }

    tr {
      &:hover {
        background-color: #E2F2F2;
      }
    }

    th {
      width: auto;
      height: 40px;
      padding: 0;
      text-align: center;

      .essential {
        display: inline-block;
        position: relative;
        top: -2px;
        width: 6px;
        height: 6px;
        background: url(../images/essential_icon.png) no-repeat;
      }
    }

    th,
    td {
      border-right: 1px solid #E6E6E6;
      text-align: center;

      &:last-child {
        border-right: 0;
      }
    }
  }
}