.tooltip {
  z-index: 10;
  display: none;
  position: absolute;
  top: 50%;
  right: calc(100% + 8px);
  min-width: 264px;
  padding: 14px 15px;
  border: 1px solid #717171;
  transform: translateY(-50%);
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 1.28;
  color: #222;
  background-color: #FFF;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    right: -5px;
    width: 8px;
    height: 8px;
    border-width: 1px 1px 0 0;
    border-color: #717171;
    border-style: solid;
    transform: rotate(45deg);
    background-color: #FFF;
  }
}